{% extends 'layout.html' %}

{% block body %}
<div class="ui">
    <div class="ui secondary pointing menu">
<!--        <a class="active item" data-tab="map">Map</a>-->
        <a class="active item" data-tab="satellite">Satellites</a>
        <a class="item" data-tab="objects">Observation objects</a>
        <a class="item" data-tab="simulation">Simulation</a>
    </div>
    <div class="ui tab segment" data-tab="map">
        {% include 'map.html' %}
    </div>
    <div class="ui active tab segment" data-tab="satellite">
        {% include 'tabs/satellites.html' %}
    </div>
    <div class="ui tab segment" data-tab="objects">
        {% include 'tabs/objects.html' %}
    </div>
    <div class="ui tab segment" data-tab="simulation">
        {% include 'tabs/simulation.html' %}
    </div>
</div>

<script>
$('.menu .item').tab();
</script>
{% endblock body %}