<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Evaluation of the effectiveness of satellite remote sensing </title>
    <script src="../js/libs/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="../js/libs/semantic/semantic.min.css">
    <script src="../js/libs/semantic/semantic.min.js"></script>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
    <script src="../js/libs/plotly-2.17.1.min.js"></script>
    <script type="text/javascript" src="/eel.js"></script>

    <script src="../js/general.js"></script>
    <script src="../js/map.js"></script>

    <link type="image/png" rel="icon" href="../images/satelite.png">
</head>
<body>

{% block body %}
{% endblock body %}

</body>
</html>