<div class="ui grid">
    <div class="ten wide column">
        {% import 'macros/tabs.html' as macros %}
        {{ macros.tabs(
            name="satellite",
            fields=[
                {'text': 'Кластер', 'name': 'cluster'},
                {'text': 'Высота перигея орбиты, км', 'name': 'perigeeAltitude'},
                {'text': 'Высота апогея орбиты, км', 'name': 'apogeeAltitude'},
                {'text': 'Угол наклонения орбиты, град', 'name': 'orbitalInclination'},
                {'text': 'Долгота восходящего узла, град', 'name': 'ascendingNodeLongitude'},
                {'text': 'Начальный аргумент перигея, град', 'name': 'initialPerigeeArgument'}
            ] | safe
        ) }}
    </div>
    <div class="six wide column">
    </div>
</div>