<div class="ui grid">
    <div class="five wide column" id="periodicity_settings">
        <select class="ui dropdown fluid" id="graph_type">
            <option value="Periodicity indicator">Periodicity indicator</option>
            <option value="Hits timestamp">Hits timestamp</option>
        </select>
        <div class="ui divider"></div>
        <button class="ui fluid button" id="show_periodicity_graph">Show</button>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            <div id='periodicity_graph'></div>
        </div>
    </div>
</div>

<script>
    $("#show_periodicity_graph").on('click', function () {
        let graph_type = $('#graph_type').val()
        if (graph_type === 'Periodicity indicator') PeriodicityIndicatorGraph()
        if (graph_type === 'Hits timestamp') hitsTimestampGraph()
    })
</script>