<div class="ui grid">
    <div class="five wide column" id="periodicity_settings">
        <select class="ui dropdown fluid">
            <option value="">Research</option>
            <option value="PeriodicityIndicator">Periodicity indicator</option>
            <option value="test">test</option>
        </select>
        <div class="ui divider"></div>
        <button class="ui fluid button" id="show_periodicity_graph">Show</button>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            <div id='periodicity_graph'></div>
        </div>
    </div>
</div>

<script>
    $("#show_periodicity_graph").on('click', function () {
        PeriodicityIndicatorGraph()
    })
</script>