<div class="ui centered grid">
    <div class="ten wide column">
        {% import 'macros/tabs.html' as macros %}
        {{ macros.tabs(
            name="satellite",
            default="спутник",
            fields=[
                {'text': 'Группировка', 'name': 'cluster', 'type': 'text'},
                {'text': 'Высота перигея, км', 'name': 'perigeeAltitude', 'type': 'number', 'value': '800'},
                {'text': 'Высота апогея, км', 'name': 'apogeeAltitude', 'type': 'number', 'value': '800'},
                {'text': 'Наклонение орбиты, град', 'name': 'orbitalInclination', 'type': 'number', 'value': '30'},
                {'text': 'Долгота восходящего узла, град', 'name': 'ascendingNodeLongitude', 'type': 'number', 'value': '0'},
                {'text': 'Начальный аргумент перигея, град', 'name': 'initialPerigeeArgument', 'type': 'number', 'value': '0'},
                {'text': 'Поворот оптической оси, град', 'name': 'opticalRotationAngle', 'type': 'number', 'value': '60'},
                {'text': 'Минимальная высота Солнца над горизонтом, град', 'name': 'sunMinimumHeightAngle', 'type': 'number', 'value': '0'}
            ] | safe
        ) }}
    </div>
</div>