<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            <div class="ui right labeled input fluid">
              <label for="start_time" class="ui label">Start</label>
              <input type="text" id="start_time" value="0">
            </div>
        </div>
        <div class="five wide column">
            <div class="ui right labeled input fluid">
              <label for="end_time" class="ui label">Stop</label>
              <input type="text" id="end_time" value="10000">
            </div>
        </div>
        <div class="five wide column">
            <div class="ui right labeled input fluid">
              <label for="step" class="ui label">Step</label>
              <input type="text" id="step" value="100">
            </div>
        </div>
    </div>
</div>

<div class="ui indicating progress">
    <div class="bar" style="width: 0%"></div>
    <div class="label">0%</div>
</div>
<!--<div id="hits_graph">-->
<!--    -->
<!--</div>-->

<button class="ui fluid green button" id="simulate">Моделирование</button>
<script>
    $("#simulate").on('click', function () {
        simulate()
    })
</script>
